<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url("bikes1.jpeg") %>);">
  <div class="banner-content">
    <h1 class="text-center">Bike BnB</h1>
    <%= link_to bikes_path do %>
    <div class="ctabutton">Find your bike and ride the city</div>
    <% end %>
    <%= link_to dashboard_path do %>
    <div class="ctabutton">Dispay your dashboard</div>
    <% end %>
    <%= link_to new_bike_path do %>
    <div class="ctabutton">Create a new bike</div>
    <% end %>
  </div>
</div>
