<% if bike.photo %>
<% photo_of_bike = cloudinary_url bike.photo.path %>
<% else  photo_of_bike = image_path('bikes3.jpg') %>
<% end %>

<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo_of_bike %>);">

  <div class="card-category" style="width: 100px"></div>
  <div class="card-description">
    <h2><%= bike.name %></h2>
    <p><%= bike.description %></p>
  </div>
  <%= link_to "", bike_path(bike), { class: "card-link" } %>
</div>
