<div class="container">
  <div class="row" >
    <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "bike_card", bike: bike %>
      </div>
    <% end %>
  </div>
</div>
