<div class="bike-banner">
  <div class="bike-breath">
    <div class="bike-show">
      <h2 class="text-center">User'sBikes</h2>
    </div>
  </div>
  <div class="bike">
    <div class="card card-show" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bikes3.jpg") %>);">
      <div class="card-category" style="width: 100px"></div>
      <div class="card-description">
        <h2><%= @bike.name %></h2>
        <p><%= @bike.description %></p>
        <p><%= link_to "Book this bike", new_bike_booking_path(@bike) %></p>
      </div>
    </div>
  </div>
</div>

