/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.margin-btm-10 {
  margin-bottom: 10px;
}
.flexbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .flex-item-grow {
    flex: 1 0 auto;
  }
  .flex-item {
    flex: 0 1 auto;
  }
}

.background-gradient{
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
  background: linear-gradient(to left, #8e9eab , #eef2f3);
  height: 90vh;
  background-size: cover;
}
