#bikes {
  margin-bottom: 54px;
}

.bike-banner{
  background-color: #EDEFED;
  height: 90vh;
  background-size: cover;
}

.bike-breath{
  background-color:#FFFFFF;
  height: 80px;
}

.bikes-all{
  margin-top: 100px;
}

