// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-welcome{
  margin-top: 0px;
    padding-top: 1px;
    margin-bottom: 11px;
}
.dashboard{
  height: 120vh;
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
  background: linear-gradient(to left, #8e9eab , #eef2f3);
  background-size: cover;
  padding-top: 60px;
  &-userinfo{
  width: 80%;
  margin: 0px auto;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  }
  &-userinfopicture{
  flex: 0 0 20%;
  }
  &-userinfoname{
  flex: 1 0 auto;
  }
  &-cards{
    background-color: #FFFFFF;
    width: 80%;

    // height: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
  }
  &-image{
      width: 200px;
      border-radius: 50%;
  }
  &-border{
     box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: white 1px solid;

  }

  h2{
    font-size: 30px;
  }
}




