// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard{
  background-color: #EDEFED;
  background-size: cover;
  &-userinfo{
  display: flex;
  }
  &-userinfopicture{
  flex: 0 0 20%;
  }
  &-cards{
    background-color: #FFFFFF;
    width: 800px;
    height: 300px;
    margin-bottom: 60px;
    margin-top: 60px;
    border-radius: 10px;
  }
  &-image{
      width: 200px;
      border-radius: 50%;
  }
  &-border{
     box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: white 1px solid;

  }

  h2{
    font-size: 30px;
  }
}




